 html body {
    background-color: bisque;
    margin: 0;
}
form {
    display: flex;
    justify-content: space-evenly;
}
nav {
    opacity: 50%;;
}
#food-images {
    margin-top: 100px;
    margin-bottom: 60px;
}

.submit-button{
    display: flex;
    justify-content: center;
}
.submit {
    
    margin-bottom: 50px;
    
}